.app
{
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.app-content
{
    transition: .3s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: $sidebar_menu_size;
    right: $sidebar_menu_size;

    @media screen and (max-width: $break_mobile) 
    {
        top: $sidebar_menu_size;
        left: 0;
        right: 0;
    }
}

.app-loading 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.8);
}


@keyframes kf-app-rotation {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}

.app-loading 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.8);

    &::after
    {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: unit(8);
      height: unit(8);
      margin-top: unit(-4);
      margin-left: unit(-4);
      border-radius: 50%;
      border: 2px solid #F06E00;
      border-right: 2px solid transparent;
      animation: kf-app-rotation 0.5s infinite linear;
    }
}