* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    _user-select: none;
}

ul
{
    list-style: none;
}

h1,h2,h3,h4,h5,h6
{
    font-size: inherit;
    font-weight: inherit;
}

input
{
    background: none;
    outline: none;

    &:focus
    {
        outline: none;
    }
}