
body, input, textarea {
    font-family: 'Fira Code';
    font-weight: 300;
    font-size: 12px;
    color: $color_grey_6;
    
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    font-smoothing: antialiased;
}